body {
    background-image: url(https://toppng.com/uploads/preview/thumbnail-effect-black-background-11563878132f4w0uijfj0.jpg);
  }

.container {
  margin: 0px;
}

.img-fluid {
    height: 60px;
    position: relative;
    left: 600px;
   bottom: 80px;
   margin: 0px 0px;
}
.img-thumbnail {
    width: 70px;
    position: relative;
    left: 400px;
    bottom: 77px;
    margin: 0px 0px;
}

.navbar-brand img {
    width: 70px; 
}


.tg-manzil h4{
  background-color: rgb(106, 121, 255);
  padding: 5px 5px;
  margin-top: 40px;
  border: 5px solid #fff;
  border-radius: 30px;
}

.tg-manzil {
text-decoration: none;
color: white;
text-align: center;
}



#carouselExampleCaptions {
    margin-top: 50px;
}







.afsona { 
    width: 300px;
    background-color: crimson;
    color: white;
    border: 3px solid greenyellow;
    border-left: 10px solid lime;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
    margin-right: 40px;
} 




.boevik { 
  width: 300px;
  background-color: crimson;
  color: white;
  border: 3px solid greenyellow;
  border-left: 10px solid lime;
  border-radius: 10px;
  text-align: center;
  margin-top: 40px;
} 





.komediya { 
  width: 300px;
  background-color: crimson;
  color: white;
  border: 3px solid greenyellow;
  border-left: 10px solid lime;
  border-radius: 10px;
  text-align: center;
  margin-top: 40px;
} 



.tv21 {
  margin-bottom: 31px;
}
